.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  /* background: url('https://media.giphy.com/media/YxC6tDcj0mqWs/giphy.gif');
  background-size: cover; */
  height: 87px;
}